
.BLUE {
  background: #00428D;
}

.BROWN {
  color: #444444;
}

.back {
    background: #5DA1AF;
  }

.cover img {
      width:40px;
      height:40px;
  }

.myfont {
    font-family: "Times New Roman", Times, serif;
  }
